<%- include("layouts/header.ejs") %>
    <h1 style="color: darkgoldenrod; text-align: center;">This is the contacts page</h1>
<%- include("layouts/nav.ejs") %>

    <ul>
        <% orang.forEach(e => { %>
            <li>
                <b><%= e.nama %></b>
                <small><%= e.umur %> tahun</small>
            </li>
        <% }) %>
    </ul>
<%- include("layouts/footer.ejs") %>