<h1 class="display-2 mt-3 mb-3">This is the detail page <i class="bi bi-book-half"></i></h1>

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h3 class="card-title"><%= x.nama %></h3>
      <h6 class="card-subtitle mb-2 text-muted"><%= x.email %></h6>
      <small class="card-text">umur = <%= x.umur %></small><br>
      <small class="card-text">phone = <%= x.no %></small><br>
      <p class="card-text"><%= x.desc %></p>
      <a href="/contact" class="card-link">&larr; back to contacts</a>
    </div>
  </div>